In [2]:
import pandas as pd

column_names = [
    "Date of Transaction",
    "Branch Name",
    "Amount of Sales",
    "Is Active"
]

primary_data = {
    "Date of Transaction": ["January 5", "January 6"],
    "Branch Name": ["Branch C", "Branch B"],
    "Amount of Sales": [100.00, 200.00],
    "Is Active": [True, True]
}
df_primary = pd.DataFrame(primary_data, columns=column_names)

df_primary

default_data = {
    "Date of Transaction": ["January 1", "January 2"],
    "Branch Name": ["Branch A", "Branch B"],
    "Amount of Sales": [500.00, 600.00],
    "Is Active": [True, False]
}

df_default_data = pd.DataFrame(default_data)

df_default_data

df_primary = pd.concat([df_primary, df_default_data])
df_primary

  Date of Transaction Branch Name  Amount of Sales  Is Active
0           January 5    Branch C            100.0       True
1           January 6    Branch B            200.0       True
0           January 1    Branch A            500.0       True
1           January 2    Branch B            600.0      False

In [3]:
df_primary.reset_index(drop=True, inplace=True)
df_primary

  Date of Transaction Branch Name  Amount of Sales  Is Active
0           January 5    Branch C            100.0       True
1           January 6    Branch B            200.0       True
2           January 1    Branch A            500.0       True
3           January 2    Branch B            600.0      False